.footer{
    background-color: rgb(219, 163, 41);
    width: auto;
    height: auto;
    top: 0;
    padding: 0;
    background-size: cover;
    text-align: center;
}
.logo{
    position: relative;
    text-align: center;
}

.footer_social {
    list-style: none;
    padding: 0;
    margin: 0
  }
  
.footer_social li {
    display: inline-block;
    margin: 5px
  }
  
.footer_social li a {
    border: solid 1px #f53542;
    display: block;
    border-radius: 0px;
    background-color: tomato;
    padding: 7px 0;
    font-size: 24px;
    color: #19d429;
    width: 40px;
    height: 40px;
    text-align: center
  }
  
.footer_social li a:hover {
    background-color: #f53542;
    color: #fff
  }