.banner{
    background-size: cover;
    background-image: url("../../images/bb1.png");
    height: 1000px;
    color: white;
}

.content{
    padding-top: 450px;
    height: 190px;
    padding-left: 20px;
    align-self: center;
}

.title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
    text-align: center;
    text-transform: uppercase;
}

.banner_buttons{
    align-self: center;
}

.button{
    align-self: center;
    color: white;
    outline: none;
    border: none;
    font-weight: 1000px;
    border-radius: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    border: 2px solid white;
    padding-bottom: 0.5rem;
    background-color: rgb(80, 76, 76);
    cursor: pointer;
    margin-right: 1rem;
    
}

.button:hover{
    color: black;
    background-color: blanchedalmond;
    border: 2px solid rgb(235, 116, 5);
}

.description{
    font-size: 9rem;
    color: blueviolet;
    font-weight: 800;
    padding-bottom: 0.3rem;
    text-align: center;
    text-align: center;
}