.banner{
    background-image: url('../../images/bb1.png');
    width: auto;
    height: 800px;
    background-size: cover;
    text-align: center;
}

.content{
    padding-top: 140px;
    height: 190px;
    padding-left: 20px;
}

.title_banner{
    font-size: 4rem;
    font-size: calc(1.5rem + 1.5vw);
    font-weight: 800;
    padding-bottom: 0.3rem;
    color: white;
    text-transform: uppercase;
}
.paragraph{
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 0.3rem;
    color: blue;
}

.button{
    outline: none;
    color: green;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 1rem;
}

.button:hover{
    color: rgb(8, 8, 8);
    background-color: yellow;
}